<%- include("partials/header.ejs") %>
 <!-- Home Page -->
  <main class="home text-center">
    <div><img class="me-5 pe-2" src="images/home_page.jpg" alt="sign-up float background image"></div>
    <form action="/create" method="post">
      <img class="mb-2" src="images/blog.png" alt="sign up icon" width="72" height="72"> 
      <h1 class="h3 mb-3 fw-normal">Create a New Blog</h1>
      
      <div class="form-floating mb-1">
        <input type="topic" class="form-control" id="floatingInput" placeholder="TopicCreation" name="createTopic">
        <label class="text-muted" for="floatingInput">Topic</label>
      </div>
      <div class="form-floating mb-1">
        <input type="data" class="form-control" id="floatingInput" placeholder="PostCreation" name="createPost">
        <label class="text-muted" for="floatingInput">Write here...</label>
      </div>
      <button class="mt-3 w-100 btn btn-lg btn-success " type="submit">Create</button>
    </form>
  </main>
<%- include("partials/footer.ejs") %>