<%- include("partials/header.ejs") %>

<h1 class="display-5 fw-bold text-center pt-5 mt-5">Namaste</h1>
<div class="index px-4 container">
    <img class="image mx-auto me-3" src="/images/mountain.jpg" alt="mountain image" height="500" >
        <p class="lead mb-4">Mountains, with their majestic peaks and breathtaking landscapes, 
        are one of nature's most awe-inspiring creations. These towering formations, 
        sculpted over millennia by the forces of tectonic activity and erosion, 
        offer a sanctuary for diverse flora and fauna, many of which are found nowhere else on Earth. 
        Beyond their ecological significance, mountains provide endless opportunities for adventure and exploration. 
        Whether it's hiking through lush, verdant forests, scaling rocky summits, 
        or simply marveling at the serene beauty of snow-capped peaks, 
        mountains have an unparalleled ability to connect us with the natural world. 
        They remind us of the sheer power and beauty of nature, 
        inspiring a sense of wonder and a profound appreciation for the world we inhabit.</p>
  </div>
<%- include("partials/footer.ejs") %>