body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


/* Header Section CSS */
header{
    width: 100%;
    position: fixed;
    top: 0;
    background-image: url("/images/background.png");
}

header li{
    font-size: larger;
}

/* FAQs Section CSS */
.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.faq-item p {
    margin: 5px 0 0 0;
}


/* About Section CSS */
.about h2{
    font-weight: 400;
    margin-top: 40px;
}

.about p{
    font-size: larger;
}


/* Features Section CSS */
.features h2{
    font-weight: 400;
    margin-top: 40px;
} 

.features h2::before {
    content: "• "; /* Unicode character for bullet */
    font-weight: bold;
    color: black; /* Change color if needed */
}

.features p{
    font-size: larger;
}