body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


/* Header Section CSS */
header{
    width: 100%;
    position: fixed;
    top: 0;  
    background-image: url("/images/snow-2356_256.gif"); 
    background-size:cover;
}

.nav-link{
    font-size:x-large;
}

/* FAQs Section CSS */
.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-weight: 400;
    margin-top: 40px;
}

.faq-item h3::before {
    content: "• "; /* Unicode character for bullet */
    font-weight: bold;
    color: black; /* Change color if needed */
}

.faq-item p {
    margin: 5px 0 0 0;
    font-size: larger;
}


/* About Section CSS */
.about h2{
    font-weight: 400;
    margin-top: 40px;
}

.about p{
    font-size: larger;
}


/* Features Section CSS */
.features h2{
    font-weight: 400;
    margin-top: 40px;
} 

.features h2::before {
    content: "• "; /* Unicode character for bullet */
    font-weight: bold;
    color: black; /* Change color if needed */
}

.features p{
    font-size: larger;
}

/* Home Page CSS */
main.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
main.home>div{
    float: inline-start;
}

main.home>form{
    float: inline-end;
}
