body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Index Page CSS */
.index>.image{
    float: left;
}

/* Header Section CSS */
header{
    width: 100%;
    position: fixed;
    top: 0;  
    background-image: url("/images/header_background.png"); 
    background-size:cover;
}

.nav-link{
    font-size:x-large;
}

#offcanvasStartLabel{
    font-size: x-large;
}

/* FAQs Section CSS */
.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-weight: 400;
    margin-top: 40px;
}

.faq-item h3::before {
    content: "• "; /* Unicode character for bullet */
    font-weight: bold;
    color: black; /* Change color if needed */
}

.faq-item p {
    margin: 5px 0 0 0;
    font-size: larger;
}


/* About Section CSS */
.about h2{
    font-weight: 400;
    margin-top: 40px;
}

.about p{
    font-size: larger;
}


/* Features Section CSS */
.features h2{
    font-weight: 400;
    margin-top: 40px;
} 

.features h2::before {
    content: "• "; /* Unicode character for bullet */
    font-weight: bold;
    color: black; /* Change color if needed */
}

.features p{
    font-size: larger;
}

/* Home Page CSS */
main.home{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home .createButton{
    background-color: rgb(255, 100, 0);
}

/* Create Page CSS */
.create .createNew{
    background-color: #80C4E9;
}

.playwrite-au-sa-Data {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.gradient-background {
    background: linear-gradient(300deg, #FFF6E9, #ffffffb8, #eaf5f5);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
/* Edit Page CSS */
main.edit{
    height: 100vh;
    display: flex;
    justify-content: center;
}